*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(87, 165, 51);
    color: white;
    text-align: center;
    padding-top: 10vh;
    font-family: 'Heebo', sans-serif;
}

h1{
    font-size: 50px;
}

.super{
    vertical-align: super;
    font-size: 12px;
}

.calc{
    display: flex;
    justify-content: center;
    margin: 5vh auto;
    padding: 10px 2px;
    width: 350px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgba(214, 209, 209, 0.74),
                inset 1px 2px 2px rgba(255, 254, 254, 0.74);
}

.calc td button{
	display:block;
	width:70px;
	height: 70px;
    font-size: 25px;
    border: none;
    box-shadow: inset -1px -1px 2px rgba(214, 209, 209, 0.74);
}

.calc td button:hover{
    background-color: rgb(255, 255, 255);
}

.calc td button:focus{
    outline: none;
}

.calc td button:active{
    outline: none;
    box-shadow: inset 1px 1px 2px rgba(214, 209, 209, 0.74);
}



#resultado{
	display: block;
	text-align: right;
	font-size: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
	width:300px;
	height: 80px;
    line-height: 80px;
    font-family: 'Orbitron', sans-serif;
    background-color:black;
    color: greenyellow;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}